<div id='jumbo' class="jumbotron">
    <h1 class="jumboHeader">CNET News Scraper</h1>

    <form action="/scrape" method='post'>
        <input class='btn btn-dark' type="submit" value='Scrape Articles'>
    </form>

</div>

<footer class="footer">
    <p>&copy; Laura Salcido 2018</p>
</footer>

<!-- /container -->